
  <% if user_signed_in? %>
      <div class="jumbotron">
        <h1><b><%=@Name %></b>, welcome to SmartFit</h1>
        <p>Tell us what your meal was and what exercise type you did and we provide you with personalized recommendation on what to do to look awesome.</p>

        <p><a class="btn btn-success" href="/users_inputs/new" role="button">Get Recommendation</a></p>

  <% else %>

      <div class="jumbotron">
        <h1>Welcome to SmartFit</h1>
        <p>Tell us what your meal was and what exercise type you did and we provide you with personalized recommendation on what to do to look awesome.</p>

        <td><a class="btn btn-success" href="/users/sign_in" role="button">Sign In</a></td>
      <td><a class="btn btn-success" href="/users/sign_up" role="button">Sign up</a></td>
<% end %>
</div>

