<div class="jumbotron">
  <h1>Welcome to SMARTFIT</h1>
  <p>Easy way to enjoy your life and stay fit.
    You simply tell us what your meal was and what exercise type you did and we provide you with personalized recommendation on what to do to look awesome</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Get recommendation</a></p>
</div>